{"jdx_orm_spec_file": "./config/gilhari_simple_example.jdx",
 "jdbc_driver_path": "./config/mysql-connector-j-8.3.0.jar",
 "db_username": "root",
 "db_password": "Sairam2003#",
 "jdx_debug_level": 5,
 "jdx_force_create_schema": "true",
 "jdx_persistent_classes_location": "./bin",
 "classnames_map_file": "config/classnames_map_example.js",
 "gilhari_rest_server_port": 8081
 }
 


 